body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.cv {
  max-width: 800px;
  margin: 40px;
}

em {
  color: #555;
}

.header p {
  font-size: 14px;
}

li {
  list-style-type: square;
}